// Device Size
$mobile-screen: 699px;
$tablet-screen: 1199px;

// color theme
$dark-black: rgba(0,0,0,0.8);
$light-black: rgba(0,0,0,0.7);

$nav-color: $dark-black;
$banner-color: $dark-black;
$footer-color: $dark-black;

$carousel-color: $light-black;
$search-color: $light-black;
$login-color: $light-black;

// design theme

$body-theme: url("../images/128-168.jpg");
$signup-theme: url("../images/128-79.jpg");