extends layout
block content
  section.account.container
    h2 Account Info:
    div.row
      article.options.desktop-c-4.mobile-c-12
        ul
          li
            a(href="editProfile") Edit Profile Information
          li
            a(href="reviews/" + currentUser.id) All reviews
      section.desktop-c-8.mobile-c-12
        h3 Latest Review:
        if user
          section
            img(src="https://image.tmdb.org/t/p/w500" + user.recentReview.poster)
            h3= user.recentReview.title
            p= user.recentReview.reviewParagraph
        else
          p No Reviews