extends layout
block content
  section.account.container
    h2 Account Info:
    div.row
      article.options.desktop-c-4.mobile-c-12
        ul
          li
            a(href="editProfile") Edit Profile Information
          li
            a(href="reviews") All reviews
      section.desktop-c-8.mobile-c-12
        h3 Latest Review:
        section
          img(src=user.recentReview.poster)
          h3= user.recentReview.title
          p= user.recentReview.reviewParagraph