extends layout
block content
  article.container
    h2.hvr-underline-from-right Add Review
    div.row.editReview
      section.desktop-c-6.mobile-c-12
        h3= movie.title
        img(src="https://image.tmdb.org/t/p/w500" + movie.poster)
      form.desktop-c-6.mobile-c-12(method="POST", action="/addReview/" + movie.id)
        label(for="review") Review:
        textarea(name="reviewParagraph", id="review")
        label(for="summary") Summary:
        textarea(name="summary", id="summary")
        input(type="submit", value="submit")