extends layout
block content
  article.container
    h2.hvr-underline-from-right Edit Profile
    div.row.editProfile
      form.desktop-c-6.mobile-c-12(action="/editProfile", method="post", enctype="multipart/form-data")
        label(for="#profileImage") Profile Image:
        img(src="public/uploads/"+user.image)
        input(id="profileImage", type="file", name="image")
        label(for="#biography") Biography:
        textarea(name="biography", id="biography")= user.biography
        label Favorite Movies:
        div
          label 1.
          input(type="text", name="movieOne" value=user.favorites[0])
        div
          label 2.
          input(type="text", name="movieTwo" value= user.favorites[1])
        div
          label 3.
          input(type="text" name="movieThree" value=user.favorites[2])
        input(type="submit", value="Submit")