extends layout
block content
  article.container.editReview
    a(href="/account") &#8592; Accounts
    h2.hvr-underline-from-right Edit Review
    div.row
      section.desktop-c-6.mobile-c-12
        h3= review.title
        img(src="https://image.tmdb.org/t/p/w500" + review.poster)
      form.desktop-c-6.mobile-c-12(method="POST", action="/editReview/" + review.id)
        label(for="review") Review:
        textarea(name="reviewParagraph", id="review" required)= review.reviewParagraph
        label(for="summary") Summary:
        textarea(name="summary", id="summary")= review.summary
        input(type="submit" value="Submit")
        a(href="/deleteReview/" + review.id) Delete