extends layout
block content
  article.container
    h2.hvr-underline-from-right Edit Review
    div.row.editReview
      section.desktop-c-6.mobile-c-12
        h3= review.title
        img(src=review.poster)
      form.desktop-c-6.mobile-c-12(action="post")
        label(for="review") Review:
        textarea(name="review", id="review")= review.reviewParagraph
        label(for="summary") Summary:
        textarea(name="reviewSummary", id="summary")= review.summary
        input(type="submit" value="Submit")