extends layout
block content
  section.backdrop
    img(src="https://images4.alphacoders.com/203/203996.jpg", data-poster="http://fontmeme.com/images/USA_full-spirited-away-poster.jpg", data-default="https://images4.alphacoders.com/203/203996.jpg")
  section.banner
    h2 Summary
  article.summary
    section.container
      div.row
        section.desktop-c-12
          h3.hvr-underline-from-center Spirited Away
          span 2001-07-20
          span Movie DB rating: 8.2
          p.
            Spirited Away is an Oscar winning Japanese animated film about a ten year old girl who wanders away from her parents along a path that leads to a world ruled by strange and unusual monster-like animals. Her parents have been changed into pigs along with others inside a bathhouse full of these creatures. Will she ever see the world how it once was?
  section.banner
    h2 reviews
  article.reviews
    section.container
      div.row
        section.desktop-c-6.mobile-c-12
          img(src="https://scontent-lax3-2.xx.fbcdn.net/v/t1.0-1/c0.26.320.320/p320x320/12814222_1208226805873810_6036424718898254150_n.jpg?oh=896921eef3a6e3ef2a12cd1bdd5b9cab&oe=59258F5B")
          h3.hvr-underline-from-right Andy Lui
          p.
            Spirited away wisks you away to a magical world and teaches us as, filmgoers, that movies don't have to transition from action to action sequence to be filled with excitement. Also, this animated film shows us that human emotion can very well be portrayed on canvas.


