extends layout
block content
  section.container.reviews
    h2 Reviews
    div.row
      section.desktop-c-6.mobile-c-12
        a(href="movieInfo")
          img(src="http://fontmeme.com/images/USA_full-spirited-away-poster.jpg")
        h3 Spirited Away
        a(href="editReview") Edit Review
        p I first watch Spirited Away in the Sixth Grade and, even then, I knew there was something special about this movie...