extends layout
block content
  section.search
    h2 Search
    input(type="text", value="name" placeholder="Movie")
  section.searchResult.container
    h2 Search Results:
    div.row
      section.desktop-c-4.tablet-c-6.mobile-c-12.posterContainer.hvr-grow
        a(href="movieInfo")
          img(src="http://image.tmdb.org/t/p/w500/ynXoOxmDHNQ4UAy0oU6avW71HVW.jpg")
      section.desktop-c-4.tablet-c-6.mobile-c-12.posterContainer.hvr-grow
        a(href="")
          img(src="http://image.tmdb.org/t/p/w500/3OTcCyf7QbGdVxsS8GLtaSsTZtP.jpg")
      section.desktop-c-4.tablet-c-6.mobile-c-12.posterContainer.hvr-grow
        a(href="")
          img(src="http://image.tmdb.org/t/p/w500/o4qXZMrZlfuTfwwNGMyTcx6p2uO.jpg")
      section.desktop-c-4.tablet-c-6.mobile-c-12.posterContainer.hvr-grow
        a(href="")
          img(src="http://image.tmdb.org/t/p/w500/fQMSaP88cf1nz4qwuNEEFtazuDM.jpg")