extends layout
block content
  section.search
    h2 Search
    input(type="text", name="search" placeholder="Movie")
    label.switch
      input(type="checkbox")
      div.slider.round
    span Movie/Username
  section.searchResult.container
    h2 Search Results:
    div.row

