extends layout
block content
  section.search
    p *Movie live-search begins after 3 letters have been typed to reduce server requests
    h2 Search
    input(type="text", name="search" placeholder="Movie")
    label.switch
      input(type="checkbox")
      div.slider.round
    span Movie/Username
  section.searchResult.container
    h2 Search Results:
    div.row

